body {
    font-family: Roboto, sans-serif;

    height: 100vh;
    display: flex;
    flex-direction: row;
    margin: 0px;
}

input:user-valid,
select:user-valid,
textarea:user-valid {
  border-color: green;
}

input:user-invalid,
select:user-invalid,
textarea:user-invalid {
  border-color: red;
}



@font-face {
  font-family:'norse-bold-font';
  src: url('Norse-Bold.otf');
}

@font-face {
  font-family:'arcade';
  src: url('arcade.regular.ttf');
}

@font-face {
  font-family:'droid';
  src: url('disposabledroid-bb.bold.ttf');
}

.leftColumn {
    display: flex;
    /*
    flex-grow: 2;
    flex: 2 1 0;
    */
    width: 40vw;

    justify-content: center;
    align-items: center;
    gap: 0px 48px;

    align-items: flex-start;
    justify-content: center;

    /*
    font-family: 'norse-bold-font';
    */

    background-image: url("pixelsky.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.leftColumn h1 {
    font-family: 'arcade';
    font-size: 72px;
    color: white;
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding: 0 0.5em;
    padding-top: 0.2em;
}

.titleBanner {
  position: absolute;
  top: 20%;
  
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0;
  width: 100%
}

.rightColumn {
    display: flex;
    flex-direction: column;
    /*
    flex-grow: 3;
    */
    width: 60vw;
    justify-content: center;
    

    background-color: #eaeaea;
}

.formInput {
    background-color: white;
    padding: 2em;

    display: flex;
    flex-direction: column;
}

.formInputGrid {

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.errorMessage {
  color: red;
  font-size: small;
  position: absolute;
  margin: 0;
}

form {
    /* Center the form on the page 
    margin: 0 auto;
    width: 400px;*/
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }

.inputRow {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.tickPlaceholder {
  width: 1.25em;
  padding: 0px;
  margin: 0px;
}

.tickPlaceholder p {
  margin: 0px;
  color: green;

  font-family: monospace;
}

.inputRow h3 {
  margin: 0px;
  padding: 0px;
  height: 1em;

  color: green;
}
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1.5em;
    margin-bottom: 2em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size 
    width: 300px;*/
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }