body {
    font-family: Roboto, sans-serif;

    height: 100vh;
    display: flex;
    flex-direction: row;
    margin: 0px;
}



@font-face {
  font-family:'norse-bold-font';
  src: url('Norse-Bold.otf');
}

.leftColumn {
    display: flex;
    flex-grow: 2;
    flex: 2 1 0;

    justify-content: center;
    align-items: center;
    gap: 0px 48px;

    padding: 40px;
    align-items: flex-start;
    justify-content: center;

    font-family: 'norse-bold-font';
    font-size: 72px;

    background-color: lightblue;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    flex-grow: 3;

    background-color: #eaeaea;
}

.formInput {
    background-color: white;
    padding: 2em;

    display: flex;
    flex-direction: column;
}

.formInputGrid {
  background-color: gray;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

form {
    /* Center the form on the page 
    margin: 0 auto;
    width: 400px;*/
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size 
    width: 300px;*/
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }